<div style="display: flex; justify-content: center; align-items: center;">


    <form method="POST" >

        <div>
            <input type="email" name="email" placeholder="Ingresar email" >
        </div>
        <div>
            <input type="password" name="password" placeholder="Ingresar password" >
        </div>
        <button type="submit"> Loguearme </button>

    </form>
</div>